[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-pymongo = "*"
flask-httpauth = "*"
passlib = {extras = ["argon2"], version = "*"}

[dev-packages]

[requires]
python_version = "3.6"
